.version.index /* version checker */
{
	color: #0000E9;
	background-color: #0632DE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1160px;
	min-height: 705.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u377
{
	z-index: 2;
	min-height: 85px;
	padding-bottom: 15px;
}

#u378
{
	z-index: 3;
	width: 82px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u387-4
{
	z-index: 5;
	margin-right: -10000px;
	margin-top: 21px;
	left: 120px;
}

#u377-bw
{
	z-index: 2;
	min-height: 85px;
}

#pu403
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 17px;
}

#u403
{
	z-index: 14;
	width: 350px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 977px;
}

#u409-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 1064px;
}

#u410
{
	z-index: 20;
	width: 350px;
	height: 11px;
	background-color: #0095FF;
	position: relative;
	margin-right: -10000px;
	margin-top: 438px;
	left: 977px;
}

input[type=text] {
    width: 100%;
    padding: 5px 10px;
    margin: -4px 0;
    box-sizing: border-box;
	background-color:transparent;
}

input[type=password] {
    width: 100%;
    padding: 5px 10px;
    margin: -4px 0;
    box-sizing: border-box;
	background-color:transparent;
}

#u437
{
	z-index: 21;
	width: 206px;
	background-color: transparent;
	opacity: 0.76;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
	filter: alpha(opacity=76);
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 1058px;
}

#u1318
{
	z-index: 23;
	width: 206px;
	background-color: transparent;
	opacity: 0.76;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
	filter: alpha(opacity=76);
	position: relative;
	margin-right: -10000px;
	margin-top: 214px;
	left: 1058px;
}

#u450-4
{
	z-index: 25;
	width: 93px;
	min-height: 14px;
	background-color: transparent;
	text-align: center;
	color: #308DFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 361px;
	left: 1099px;
}

#u451-4
{
	z-index: 29;
	width: 145px;
	min-height: 14px;
	background-color: transparent;
	text-align: center;
	color: #308DFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 405px;
	left: 1080px;
}

#u450,#u451
{
	text-decoration: underline;
}

#u457
{
	z-index: 33;
	width: 194px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 1060px;
}

#u454
{
	z-index: 34;
	width: 194px;
	-pie-box-shadow: 6px 6px 8px #CECECE;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.38);
	background-color: #F7931E;
	border-radius: 5px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u454:hover
{
	background-color: #F1825B;
	width: 194px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u456-4
{
	z-index: 35;
	position: relative;
	width: 127px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 32px;
}

#u456-4_img
{
	display: block;
	vertical-align: top;
}

#slideshowu634
{
	z-index: 39;
	width: 0.01px;
	height: 461px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
}

#u652
{
	position: absolute;
	width: 977px;
	height: 461px;
	background-color: transparent;
}

#u652popup
{
	z-index: 40;
}

#u657
{
	z-index: 41;
	width: 977px;
	height: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u690
{
	z-index: 43;
	width: 977px;
	height: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1643
{
	z-index: 45;
	width: 977px;
	height: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u657_img,#u690_img,#u1643_img
{
	padding-top: 1px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1321
{
	z-index: 47;
	width: 24px;
	background-color: transparent;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 1013px;
}

#u1327
{
	z-index: 49;
	width: 24px;
	background-color: transparent;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	left: 1013px;
}

#u1630
{
	z-index: 9;
	min-height: 48px;
	padding-bottom: 14px;
}

#u377_align_to_page,#u1630_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1160px;
	left: -100px;
}

#u1631-4
{
	z-index: 10;
	margin-right: -10000px;
	margin-top: 13px;
	left: 599px;
}

#u1630-bw
{
	z-index: 9;
	min-height: 48px;
}

body
{
	position: relative;
	min-width: 1160px;
}

#page .verticalspacer
{
	clear: both;
}

