.version.kehadiran /* version checker */
{
	color: #0000E2;
	background-color: #E110F7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1160px;
	min-height: 1228.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 1px;
	width: 0.01px;
}

#u1057
{
	z-index: 2;
	min-height: 92px;
	padding-bottom: 6px;
}

#u1062
{
	z-index: 3;
	width: 82px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u1058-4
{
	z-index: 18;
	margin-right: -10000px;
	margin-top: 21px;
	left: 120px;
}

#u885-4
{
	z-index: 41;
	position: relative;
	width: 176px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 849px;
}

#u885-4_img
{
	display: block;
	vertical-align: top;
}

#u1057-bw
{
	z-index: 2;
	min-height: 92px;
}

#u887
{
	z-index: 46;
	height: 38px;
	width: 176px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 1011px;
	background: url("../images/u887.png") no-repeat 0px 0px;
}

#u887:hover
{
	background: url("../images/u887-r.png") no-repeat 0px 0px;
}

#u886
{
	z-index: 49;
	position: relative;
	width: 176px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 1172px;
}

#u886_states
{
	height: 38px;
	width: 176px;
	vertical-align: top;
	background: url("../images/u886_states.png") no-repeat 0px 0px;
}

#u886:hover #u886_states
{
	background: url("../images/u886_states-r.png") no-repeat 0px 0px;
}

#u892
{
	z-index: 51;
	width: 2px;
	height: 55px;
	background-color: #B6B2B2;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 1018px;
}

#u890
{
	z-index: 52;
	width: 2px;
	height: 55px;
	background-color: #B6B2B2;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 1180px;
}

#pu1057,#pu1064
{
	width: 0.01px;
	margin-left: -100px;
}

#u1064
{
	z-index: 5;
	width: 330px;
	margin-bottom: -1px;
	margin-right: -10000px;
	padding: 66px 92px 565px 36px;
}

#u1204
{
	z-index: 22;
	width: 213px;
}

#u1059-4
{
	z-index: 6;
	margin-top: 67px;
}

#u1060-4
{
	z-index: 10;
	margin-top: 18px;
}

#u1061-4
{
	z-index: 14;
	margin-top: 18px;
}

#pu1215
{
	width: 0.01px;
	margin-top: 44px;
}

#u1215
{
	z-index: 24;
	width: 33px;
	margin-right: -10000px;
}

#u1217-4
{
	z-index: 26;
	margin-right: -10000px;
	margin-top: 4px;
	left: 41px;
}

#u888
{
	z-index: 39;
	width: 67px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 491px;
}

#pu884-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 588px;
}

#u884-4
{
	z-index: 35;
	display: block;
	vertical-align: top;
	margin-left: 203px;
	position: relative;
}

#u1225-4
{
	z-index: 55;
	display: block;
	vertical-align: top;
	margin-top: 61px;
	position: relative;
}

#u1226-4
{
	z-index: 59;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#u1219
{
	z-index: 53;
	width: 618px;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	font-size:large;
}
#header{
	color:#F44447;
	text-align:center;
	}
#header2{
	text-align:center;	
}
	
th, td {
    padding: 15px;
}

input[type=button] {
    width: 30%;
    padding: 7px 7px 7px 7px;
	height:100%;
    box-sizing: border-box;
	margin-right:77px;
	margin-left: 250px;
	margin-top: 14px;
	color:white;
	background-color:#FDA51B;
	cursor:pointer;
}

#u1635
{
	z-index: 30;
	min-height: 48px;
	padding-bottom: 14px;
}

#u1057_align_to_page,#u1635_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1160px;
	left: -100px;
}

#u1636-4
{
	z-index: 31;
	margin-right: -10000px;
	margin-top: 13px;
	left: 618px;
}

#u1635-bw
{
	z-index: 30;
	min-height: 48px;
	margin-top: 1px;
}

body
{
	position: relative;
	min-width: 1160px;
}

#page .verticalspacer
{
	clear: both;
}

