.version.materi /* version checker */
{
	color: #0000FA;
	background-color: #6FBF1B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1160px;
	min-height: 1228.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 1px;
	width: 0.01px;
}

#u1057
{
	z-index: 2;
	min-height: 92px;
	padding-bottom: 6px;
}

#u1062
{
	z-index: 3;
	width: 82px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u1058-4
{
	z-index: 18;
	margin-right: -10000px;
	margin-top: 21px;
	left: 120px;
}

#u772-4
{
	z-index: 41;
	position: relative;
	width: 176px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 849px;
}

#u772-4_img
{
	display: block;
	vertical-align: top;
}

#u1057-bw
{
	z-index: 2;
	min-height: 92px;
}

#u773
{
	z-index: 46;
	height: 38px;
	width: 176px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 1011px;
	background: url("../images/u773.png") no-repeat 0px 0px;
}

#u773:hover
{
	background: url("../images/u773-r.png") no-repeat 0px 0px;
}

#u774
{
	z-index: 49;
	position: relative;
	width: 176px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 1172px;
}

#u774_states
{
	height: 38px;
	width: 176px;
	vertical-align: top;
	background: url("../images/u774_states.png") no-repeat 0px 0px;
}

#u774:hover #u774_states
{
	background: url("../images/u774_states-r.png") no-repeat 0px 0px;
}

#u775
{
	z-index: 51;
	width: 2px;
	height: 55px;
	background-color: #B6B2B2;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 1018px;
}

#u776
{
	z-index: 52;
	width: 2px;
	height: 55px;
	background-color: #B6B2B2;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 1180px;
}

#pu1057,#pu1064
{
	width: 0.01px;
	margin-left: -100px;
}

#u1064
{
	z-index: 5;
	width: 330px;
	margin-bottom: -1px;
	margin-right: -10000px;
	padding: 66px 92px 565px 36px;
}

#u1204
{
	z-index: 22;
	width: 213px;
}

#u1059-4
{
	z-index: 6;
	margin-top: 67px;
}

#u1060-4
{
	z-index: 10;
	margin-top: 18px;
}

#u1061-4
{
	z-index: 14;
	margin-top: 18px;
}

#pu1215
{
	width: 0.01px;
	margin-top: 44px;
}

#u1215
{
	z-index: 24;
	width: 33px;
	margin-right: -10000px;
}

#u1217-4
{
	z-index: 26;
	margin-right: -10000px;
	margin-top: 4px;
	left: 41px;
}

#u715
{
	z-index: 39;
	width: 67px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 491px;
}

#pu557-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 563px;
}

#u557-4
{
	z-index: 35;
	display: block;
	vertical-align: top;
	margin-left: 229px;
	position: relative;
}

#pu969-4
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: 79px;
}

#u969-4
{
	z-index: 55;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u968
{
	z-index: 53;
	width: 307px;
	height: 27px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 129px;
}

input[type=text] {
    width: 100%;
    padding: 5px 20px;
    margin: 0px 0;
    box-sizing: border-box;
}

input[type=button] {
    width: 100%;
    padding: 5px 5px 5px 5px;
	height:100%;
    box-sizing: border-box;
	margin-bottom:-7px;
	background-color:#606060;
	cursor:pointer;
}

#pu970-4
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: 14px;
}

#u970-4
{
	z-index: 59;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u971
{
	z-index: 54;
	width: 307px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 129px;
}

#u977-4
{
	z-index: 73;
	width: 180px;
	min-height: 22px;
	background-color: transparent;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 12px;
}

#u972
{
	z-index: 63;
	width: 85px;
	background-color: #7F7F7F;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u976-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 15px;
}

#u1333-4
{
	z-index: 77;
	width: 129px;
	min-height: 23px;
	background-color: transparent;
	color: #F74249;
	margin-left: 229px;
	margin-top: 5px;
	position: relative;
}

#u1360
{
	z-index: 64;
	width: 85px;
	background-color: #FDA51B;
	padding-bottom: 6px;
	margin-left: 315px;
	margin-top: 22px;
	position: relative;
	cursor:pointer;
}

#u1359-4
{
	z-index: 69;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 15px;
}

#pu1355-4
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 83px;
}

#u1355-4
{
	z-index: 87;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1356-4
{
	z-index: 91;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#pu1335
{
	width: 0.01px;
	margin-top: 19px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	font-size:large;
}
#headertable{
	color:#F44447;
	text-align:center;
	}

#u1361_img, #u1385_img, u1430_img{
	cursor:pointer;	
}
	
th, td {
    padding: 15px;
}

#u1335
{
	z-index: 81;
	width: 715px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1343-4
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 37px;
}

#u1344-4
{
	z-index: 95;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 37px;
}

#u1345-4
{
	z-index: 99;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 37px;
}

#u1346-4
{
	z-index: 103;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 37px;
}

#u1347-4
{
	z-index: 107;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 37px;
}

#u1352-4
{
	z-index: 111;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 37px;
}

#u1353-4
{
	z-index: 115;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	left: 37px;
}

#u1354-4
{
	z-index: 119;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 37px;
}

#u1361
{
	z-index: 123;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 396px;
}

#u1364
{
	z-index: 125;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 396px;
}

#u1367
{
	z-index: 127;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 396px;
}

#u1376
{
	z-index: 129;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 396px;
}

#u1382
{
	z-index: 131;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
	left: 396px;
}

#u1370
{
	z-index: 133;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 396px;
}

#u1373
{
	z-index: 135;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	left: 396px;
}

#u1379
{
	z-index: 137;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 342px;
	left: 396px;
}

#u1385
{
	z-index: 139;
	width: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 518px;
}

#u1388
{
	z-index: 141;
	width: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 518px;
}

#u1391
{
	z-index: 143;
	width: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 518px;
}

#u1400
{
	z-index: 145;
	width: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 518px;
}

#u1406
{
	z-index: 147;
	width: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 518px;
}

#u1421
{
	z-index: 149;
	width: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	left: 518px;
}

#u1409
{
	z-index: 151;
	width: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 518px;
}

#u1418
{
	z-index: 153;
	width: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 518px;
}

#u1430
{
	z-index: 155;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 636px;
}

#u1466
{
	z-index: 157;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 636px;
}

#u1451
{
	z-index: 159;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 636px;
}

#u1457
{
	z-index: 161;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 296px;
	left: 636px;
}

#u1436
{
	z-index: 163;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 636px;
}

#u1463
{
	z-index: 165;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	left: 636px;
}

#u1454
{
	z-index: 167;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 636px;
}

#u1460
{
	z-index: 169;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	left: 636px;
}

#pu1627
{
	width: 0.01px;
	margin-left: 245px;
	margin-top: 9px;
}

#u1627
{
	z-index: 173;
	width: 47px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1626-4
{
	z-index: 184;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#u1619
{
	z-index: 171;
	width: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #FDA51B;
	background-color: transparent;
	padding-bottom: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 54px;
}

#u1620-4
{
	z-index: 176;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#u1622
{
	z-index: 172;
	width: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 97px;
}

#u1621-4
{
	z-index: 180;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#u1624
{
	z-index: 175;
	width: 36px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 140px;
}

#u1623-4
{
	z-index: 192;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#u1629
{
	z-index: 174;
	width: 47px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 183px;
}

#u1628-4
{
	z-index: 188;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#u1635
{
	z-index: 30;
	min-height: 48px;
	padding-bottom: 14px;
}

#u1057_align_to_page,#u1635_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1160px;
	left: -100px;
}

#u1636-4
{
	z-index: 31;
	margin-right: -10000px;
	margin-top: 13px;
	left: 618px;
}

#u1635-bw
{
	z-index: 30;
	min-height: 48px;
	margin-top: 1px;
}

body
{
	position: relative;
	min-width: 1160px;
}

#page .verticalspacer
{
	clear: both;
}

