.version.registration /* version checker */
{
	color: #000008;
	background-color: #A3EA87;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1160px;
	min-height: 935.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u377
{
	z-index: 2;
	min-height: 85px;
	padding-bottom: 15px;
}

#u378
{
	z-index: 3;
	width: 82px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 15px;
}

#u387-4
{
	z-index: 5;
	margin-right: -10000px;
	margin-top: 21px;
	left: 120px;
}

#u377-bw
{
	z-index: 2;
	min-height: 85px;
}

#u918-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-left: 407px;
	margin-top: 14px;
	position: relative;
}

#pu919-4
{
	width: 0.01px;
	margin-left: 94px;
	margin-top: 33px;
}

#u919-4
{
	z-index: 18;
	width: 115px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u920
{
	z-index: 54;
	width: 337px;
	height: 34px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

input[type=text] {
    width: 100%;
    padding: 7px 20px;
    margin: 2px 0;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 7px 20px;
    margin: 2px 0;
    box-sizing: border-box;
}

#u921-4
{
	z-index: 42;
	width: 74px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u922
{
	z-index: 60;
	width: 337px;
	height: 34px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#pu923-4
{
	width: 0.01px;
	margin-left: 94px;
	margin-top: 21px;
}

#u923-4
{
	z-index: 46;
	width: 97px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u925
{
	z-index: 61;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u931
{
	z-index: 65;
	width: 50px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 130px;
}

#u932-4
{
	z-index: 67;
	width: 65px;
	min-height: 11px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u933-4
{
	z-index: 22;
	width: 115px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u934
{
	z-index: 55;
	width: 337px;
	height: 34px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u935-4
{
	z-index: 26;
	width: 115px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u936
{
	z-index: 56;
	width: 337px;
	height: 34px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#pu921-4,#pu933-4,#pu935-4,#pu937-4
{
	width: 0.01px;
	margin-left: 94px;
	margin-top: 18px;
}

#u937-4
{
	z-index: 30;
	width: 115px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u938
{
	z-index: 57;
	width: 337px;
	height: 34px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#pu941-4
{
	width: 0.01px;
	margin-left: 94px;
	margin-top: 28px;
}

#u941-4
{
	z-index: 50;
	width: 97px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u943
{
	z-index: 63;
	width: 100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u946
{
	z-index: 66;
	width: 50px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 130px;
}

#u942-4
{
	z-index: 71;
	width: 65px;
	min-height: 11px;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u947-4
{
	z-index: 34;
	width: 115px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u948
{
	z-index: 58;
	width: 204px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u949-4
{
	z-index: 75;
	width: 90px;
	min-height: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u950
{
	z-index: 83;
	width: 117px;
	background-color: #7F7F7F;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 343px;
}

#u951-4
{
	z-index: 86;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 15px;
}

#u957-4
{
	z-index: 98;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 469px;
}

#pu947-4,#pu952-4
{
	width: 0.01px;
	margin-left: 94px;
	margin-top: 27px;
}

#u952-4
{
	z-index: 38;
	width: 115px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u955
{
	z-index: 59;
	width: 204px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 5px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u953-4
{
	z-index: 79;
	width: 90px;
	min-height: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u954
{
	z-index: 85;
	width: 117px;
	background-color: #7F7F7F;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 343px;
}

#u956-4
{
	z-index: 94;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 15px;
}

#u958-4
{
	z-index: 102;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 469px;
}

#u962
{
	z-index: 84;
	width: 179px;
	background-color: #7F7F7F;
	padding-bottom: 14px;
	margin-left: 522px;
	margin-top: 70px;
	position: relative;
}

#u961-4
{
	z-index: 90;
	position: relative;
	width: 87px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 46px;
}

#u961-4_img
{
	display: block;
	vertical-align: top;
}

#u1630
{
	z-index: 9;
	min-height: 48px;
	padding-bottom: 14px;
}

#u377_align_to_page,#u1630_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1160px;
	left: -100px;
}

#u1631-4
{
	z-index: 10;
	margin-right: -10000px;
	margin-top: 13px;
	left: 599px;
}

#u1630-bw
{
	z-index: 9;
	min-height: 48px;
	margin-top: 91px;
}

body
{
	position: relative;
	min-width: 1160px;
}

#page .verticalspacer
{
	clear: both;
}

